[submodule "rc-api-gateway"]
	path = rc-api-gateway
	url = https://github.com/uab-energetics/rc-api-gateway
[submodule "rc-backend"]
	path = rc-backend
	url = https://github.com/uab-energetics/rc-backend
[submodule "rc-client"]
	path = rc-client
	url = https://github.com/uab-energetics/rc-client
[submodule "rc-authentication"]
	path = rc-authentication
	url = https://github.com/uab-energetics/rc-authentication
[submodule "rc-authorization"]
	path = rc-authorization
	url = https://github.com/uab-energetics/rc-authorization
[submodule "rc-publications"]
	path = rc-publications
	url = https://github.com/uab-energetics/rc-publications
[submodule "rc-pipelines"]
	path = rc-pipelines
	url = https://github.com/uab-energetics/rc-pipelines
[submodule "rc-encodings"]
	path = rc-encodings
	url = https://github.com/uab-energetics/rc-encodings
